@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F8F8F8;
}

.container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	min-height: 100vh;
}

h1, h2, a {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: #173F4D;
}

.column h2 {
	font-size: 14px;
	line-height: 0.5;
}

.column p {
	font-family: 'Overpass', sans-serif;
	font-size: 12px;
	color: #173F4D;
}

.content p {
	font-style: italic;
	line-height: 0;
}

header {
	background-color: #E0E0E0;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

header h1 img {
	width: 100%;
}

.links a {
	text-align: top;
}

ul {
	list-style: none;
	margin: 0 25%;
	padding: 0;
	line-height: 2;
}

.social {
	display: flex;
	justify-content: center;
}

.social-link img {
	width: 25px;
	margin-bottom: 20px;
}

.social-link a:link {
	opacity: 0.5;
}

.social-link a:hover {
	opacity: 1;
}

.row {
	margin: 0px -20px;
	max-width: 100%;
}

.row,
.row > .column {
  padding: 8px;
}

.image-grid {
	margin: 4% 4% 2% 8%;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

a:link {
	color: #173F4D;
	text-decoration: none;
}

a:hover {
	color: #FFD394;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
	
	header {
		height: 100px;
		width: 100%;
		display: flex;
	}
	
	.links {
		display: flex;
	}
	
	.social {
		display:flex;
		justify-content: flex-end;
	}
	
	.image-grid {
		margin-top: 100px;
	}
	
}