@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	padding-right: 10%;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	display: flex;
}

header {
	background-color: #E0E0E0;
	width: 25%;
	margin-right: 10%;
}

ul {
	list-style: none;
}

.social {
	display: flex;
	justify-content: center;
}

.social-link img {
	width: 25px;
}

.social-link a:link {
	opacity: 0.5;
}

.social-link a:hover {
	opacity: 1;
}

.row {
  margin: 0px -50px;
}

.row,
.row > .column {
  padding: 5px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
	
	header {
		height: 100px;
		width: 100%;
		display: flex;
	}
	
	.links {
		display: flex;
	}
	
	.social {
		display:flex;
		justify-content: flex-end;
	}
	
	.image-grid {
		margin-top: 100px;
	}
	
	
	
}