@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	padding-right: 10%;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	display: flex;
}

header {
	background-color: #E0E0E0;
	width: 15%;
	margin-right: 10%;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}